.google-account {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 57px;
  width: 322px;
}

.google-account-text {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 13px;
}

.account-name {
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  display: flex;
  gap: 208px;
  height: 36px;
  justify-content: flex-end;
  min-width: 322px;
  border: solid 1px #efefef;
}

.name {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2px;
  min-height: 13px;
  width: 76px;
  white-space: nowrap;
  padding: 0 8px;
}

.icons-1 {
  height: 20px;
  width: 20px;
}

.file {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 53px;
  width: 322px;
  margin: 12px 0;
}

.file-selector {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  gap: 133px;
  height: 32px;
  min-width: 322px;
  border: solid 1px #efefef;
}

.sheetname {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 84px;
  padding: 0 8px;
}

.sheetname-text {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2px;
  min-height: 13px;
  min-width: 56px;
  white-space: nowrap;
}

.tab-component {
  align-items: center;
  display: flex;
  gap: 8px;
  min-width: 89px;
}

.tab {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 24px;
  display: flex;
  gap: 4px;
  height: 24px;
  justify-content: flex-end;
  min-width: 61px;
}

.tab-one {
  letter-spacing: 0;
  line-height: 11px;
  margin-bottom: 2px;
  min-width: 23px;
  white-space: nowrap;
  padding: 0 6px;
}

.export {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 52px;
  width: 322px;
}

.export-button {
  align-items: flex-start;
  background-color: #2383f3;
  border-radius: 5px;
  display: flex;
  height: 32px;
  min-width: 322px;
}

.export-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 13px;
  padding: 8.5px 144px;
}

.last-export {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 89px;
  margin-bottom: 16px;
}