.icons {
  height: 16px;
  width: 16px;
}

.connect-container {
  align-items: flex-start;
  background-color: #fcfcfc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 96px;
  padding: 12px 0;
  width: 322px;
}

.connect-body {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 12px;
  width: 298px;
}

.google-icon {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 80px;
  display: flex;
  height: 36px;
  width: 36px;
}

.google-icon img {
  padding: 10px;
}

.connect-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 33px;  
  width: 250px;
}

.connect-text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  height: 16px;
  width: 250px;
}

.connect-text-2 {
  letter-spacing: 0;
  line-height: normal;
  height: 13px;
  width: 250px;
}

.connect-button {
  align-items: flex-start;
  background-color: #2383f3;
  border-radius: 4px;
  display: flex;
  margin-left: 12px;
  height: 24px;
  width: 60px;
  padding: 6.5px 10px;
}

.button-text {
  margin: auto;
}