@import url("https://fonts.googleapis.com/css?family=Figtree:500,600");

:root {
  --black: rgba(0, 0, 0, 1);
  --shark: rgba(38, 38, 38, 1);
  --gunsmoke: rgba(131, 131, 131, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-s: 10px;
  --font-size-m: 11px;
  --font-size-l: 13px;

  --font-family-figtree: "Figtree";
}

.figtree-medium-gunsmoke-11px {
  color: var(--gunsmoke);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.figtree-medium-black-11px {
  color: var(--black);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.figtree-semi-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-s);
  font-weight: 600;
  font-style: normal;
}

.figtree-semi-bold-white-11px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.figtree-medium-gunsmoke-10px {
  color: var(--gunsmoke);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.figtree-medium-shark-11px {
  color: var(--shark);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}

.figtree-semi-bold-shark-11px {
  color: var(--shark);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}

.figtree-semi-bold-black-13px {
  color: var(--black);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}

.figtree-semi-bold-gunsmoke-10px {
  color: var(--gunsmoke);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}