.header-container {
  align-items: center;
  display: flex;
  gap: 107px;
  width: 322px;
  height: 32px;
  padding: 16px 16px 0 16px;
}

.header {
  align-items: center;
  display: flex;
  gap: 12px;
  min-width: 191px;
}

.gsheets-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #8ed1b12b;
  border-radius: 5px;
  height: 32px;
  min-width: 32px;
}

.gsheets-icon img {
  padding: 8px;
}

.header-text {
  letter-spacing: 0;
  line-height: normal;
}

.trash-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 4px;
  height: 24px;
  min-width: 24px;
}

.trash-button img {
  padding: 4px;
}
